<left><div class="user-welcome d-flex align-items-baseline border-bottom mx-5 justify-content-between">
  <h1 class="me-2">Welcome, DM <%= @user.username %></h1> <%= button_to "+ New Campaign", "/users/#{params[:id]}/campaigns/new" , method: :get, class: "d-flex" %>
</div></left>

<div class="user_campaigns">
  <% cache("users_campaigns-#{@user.id}") do %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Campaign Name</th>
          <th scope="col">Number of Players</th>
          <th scope="col">Themes</th>
        </tr>
      </thead>
      <tbody>
          <% @user.campaigns.each do |campaign| %>
        <tr>
            <td><%= link_to campaign[:name].capitalize, user_campaign_path(user_id: @user.id, id: campaign[:id]), method: :get %></td>
            <td><%= campaign[:player_num] %></td>
            <td><%= campaign[:themes] %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>