<% @npcs.each do |npc| %>
  <p><%= npc.name %></p>
  <p><%= npc.description %></p>
  <p><%= npc.gender %></p>
  <p><%= npc.race %></p>
  <p><%= npc.klass %></p>
  <p><%= npc.attitude %></p>
<% end %>
