<left><div class="campaign_header d-flex align-items-baseline border-bottom mx-5 justify-content-between">
  <h1 class="me-2"><%= @campaign.name.capitalize %></h1><p><%= "Number of Players: #{@campaign.player_num}" %>
</div></left>

<section class="generators">
  <p><%= button_to "Generate Town", user_campaign_towns_path(user_id: @user_id, campaign_id: @campaign.id)  %></p>

  <p><%= link_to "Generate NPC" %></p>

</section>

<section class="indexes">
  <p><%= link_to "My Towns", user_campaign_towns_path(user_id: @user_id, campaign_id: @campaign.id) %></p>

  <p><%= link_to "My NPCs" %></p>
</section>